{% extends 'myapp/base.html' %}
{% block content %}

<div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 5em">
                <h1 class="alert alert-success">Your Account has been created successfully!</h1>
            </div>
        </div>

    </div>
    <style>
    .card{
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
        border-radius: 15px;
        /* padding: 20px; */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    </style>
{% endblock %}